# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\User\Desktop\Uni9\3sem\Desenvolvimento Web - Java\2021 03 08\2021-03-01\Exercicio02_POO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
